%% -*- erlang -*-
%% Config file for spi application
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_DEBUG -D_THREAD_SAFE -I ../dthread/include"}
	   ]}.

{port_specs, [
	      {"(linux)","priv/spi_drv.so",
	       [ "c_src/spi_drv.c" ]}
	     ]}.

